
$mainColor: rgba(81, 59, 4, 0.925);


.sideBarCloesed{
    position: fixed;
    z-index:999;
    width:100%;
    height:100%;
    display:grid;
    align-items:center;
    left:0;
    opacity: 0 ;
    top: -120% ;
}
.sideBarOpen{
    top: 0%;
    transition : 0.3 ease-in-out;
    position :sticky;
    z-index: 99;
}


.sideBarDiv{
    max-height: 30rem;
    align-items: center;
    justify-content: center;
    position :sticky;
    margin: 1rem 0;
    padding: 1rem;
    background-color: $mainColor;
    border-left: 9.5rem solid rgba(0, 0, 0, 0.422);
}

.sideBarMenu{
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:repeat(6, 80px);
    text-align:center;
    a{
        color: white;
    }
}

.sideBarItem{
    justify-content:center;
    align-items:center;
    padding: 1rem;
    margin: 1rem;
    font-size: 1.4rem;
    font-style: bold;
    border-right: 3rem solid rgba(0, 13, 29, 0.366);
    border-bottom: 1px solid rgba(255, 255, 255, 0.84);
    &:hover{
        border-right: 1rem solid rgba(1, 10, 21, 0.877);
    }
}

.sideBarLink{
    text-decoration:none ;
    transition: 0.2s ease-in-out; 
    cursor:pointer; 
}

