
.container{
        display:flex;
        height:100%;
        flex-direction:column;
        align-items:left;
        backdrop-filter: blur(5px);
        padding:auto ; 
        a{
            font-size: 1rem;
            padding:1rem 0;
            display: flex;
            color: white;
            border-bottom:1px solid rgb(255, 255, 255);
            &:hover{
                color: aquamarine;
        }
      
        }
        h4{
            margin: auto 2rem;
            color: white;
            border-bottom:1px solid rgb(255, 255, 255);
        }
}






